#toggle {
  font-size: 25px;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  border: 2px solid orange;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: .3s; }
  #toggle .bar {
    background-color: #ffa500;
    width: 60%;
    height: .05em;
    position: relative;
    transition: .3s; }
    #toggle .bar.bar-1::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: orange;
      transition: .3s; }
    #toggle .bar::before {
      transform: translateY(0.3em); }
  #toggle.active {
    transform: rotate(90deg); }
    #toggle.active .bar-1::before {
      opacity: 1;
      transform: translateY(0.3em) skewY(-40deg); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  width: 100vw; }

#container {
  width: 100%; }
  #container #header {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 10vh;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #container #header .brand {
      border: 1px solid #ffa500;
      padding: .2em;
      border-radius: 5px;
      display: grid;
      place-items: center; }
      #container #header .brand a {
        color: #ffa500;
        text-decoration: none; }
        #container #header .brand a span {
          color: #fff; }
    #container #header .navigation {
      position: relative;
      text-transform: uppercase; }
    @media (max-width: 768px) {
      #container #header {
        height: 8vh;
        padding: 1vh 1rem; }
        #container #header .brand a {
          font-size: 1.2em; }
        #container #header .logo {
          display: none; }
        #container #header .navigation {
          border: none; }
          #container #header .navigation nav {
            display: none; }
          #container #header .navigation aside {
            position: fixed;
            top: 8vh;
            right: -100vw;
            width: 100%;
            height: 100vh;
            background-color: #161616;
            padding: 0 1em;
            transition: .5s; }
            #container #header .navigation aside.active {
              right: -50vw; }
            #container #header .navigation aside ul {
              border: 2px solid #ffa500;
              border-radius: 3px;
              position: absolute;
              padding: .5em;
              top: 10vh; }
              #container #header .navigation aside ul li {
                padding-bottom: 5vh;
                list-style: none; }
                #container #header .navigation aside ul li a {
                  color: #eee;
                  text-decoration: none; } }
    @media (min-width: 768px) {
      #container #header {
        height: 10vh;
        padding: .5em 5vw;
        overflow: hidden; }
        #container #header .brand a {
          font-size: 1.5em; }
        #container #header .logo {
          display: none;
          border: 1px solid green;
          width: 50%; }
          #container #header .logo figure {
            height: 10%;
            overflow: hidden; }
            #container #header .logo figure img {
              width: 100%;
              object-fit: cover; }
        #container #header .navigation {
          display: grid;
          place-items: center;
          padding: .5em; }
          #container #header .navigation #toggle {
            display: none; }
          #container #header .navigation aside {
            display: none; }
          #container #header .navigation nav {
            display: block; }
            #container #header .navigation nav ul {
              display: flex;
              align-items: center; }
              #container #header .navigation nav ul li {
                padding-left: 1em;
                list-style: none; }
                #container #header .navigation nav ul li a {
                  color: #fff;
                  text-decoration: none;
                  transition: .3s;
                  padding: .5rem;
                  border-radius: 5px; }
                  #container #header .navigation nav ul li a:hover {
                    color: #000;
                    background-color: #ffa500; } }
  #container #main {
    min-height: 180vh;
    background-color: #f4f4f4; }
