.about {
    position: relative;
    .about-article {
        // border: 1px solid $brand;
        background: $bg-main;
        border-radius: 5px;
        margin: 5vh 5vw;
        @media(min-width: 768px) {
            margin: 5vh 5vw;
            width: 45%;
            &::after {
                content: '';
                position: absolute;
                top: 30%;
                right: 5vw;
                width: 40%;
                height: 50%;
                background: #fff000;
                background-image: url('../img/mkansi.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: .5rem;
            }
        }
        text-transform: none;
        line-height: 1.6;
        // height: 40vh;
        overflow: hidden;
        text-align: left;
        font-family: $font-open-sans;
        p{
            margin-bottom: 2rem;
            span {
                font-size: 2rem;
                // padding-right: .1em;
                padding: 0 .05rem;
                background: #000;
                float: left;
                margin-right: .1em;
                border-top-right-radius: .25rem;
                border-top-left-radius: .25rem;
                overflow: hidden;
                box-shadow: 2px 3px 2px #4855634b;

                color: #fff;
                color: $brand;
                // text-shadow: 2px 2px 0px $brand;
            }

            strong {
                opacity: .1;

                &.active-io {
                    animation: strong 2s ease-in forwards;
                    @keyframes strong {
                        5%, 25% {
                            opacity: .2;
                        }
                        20%, 35% {
                            opacity: .5;
                            color: $brand;
                        }
                        30%, 70% {
                            color: $brand;
                            opacity: 7;
                        }
                        40%, 55% {
                            color: #000;
                            opacity: .6;
                        }
                        50%, 60%, 100% {
                            opacity: 1;
                            color: $brand;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 768px){
        .about-article {
            font-size: 1rem;
        }
    }
    @media (min-width: 768px){
        .about-article {
            font-size: 1.2rem;
        }
    }
}