#footer {
    .contact-form {
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
    .form {
    flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $bg-main;
        padding: 10vh 0;
    }
    .footer-contact {
        // background: pink;
        flex-basis: 50%;
        // border: 2px solid $text-brand;
        // border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 5vh 1rem;

        .contact-item {
            // background: $nav-bg;
            border: 1px solid $brand;
            border-radius: 5px;
            margin: 1rem auto;
            padding: 1rem 0;
            height: auto;
            width: 100%;
            transition: .2s;


            header {
                color: $text-brand;
                font-size: 1.3rem;
                font-weight: 500;
                letter-spacing: .1em;
                text-align: center;
                text-transform: capitalize;
                margin-bottom: .5rem;
            }
            .contact-info {
                display: flex;
                // background: yellow;
                flex-direction: column;
                align-items: center;
                font-family: $font-open-sans;
                font-weight: 600;
                
                button {
                    border: 1px solid red;
                    border: none;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    transition: .5s;
                    background: #fff;
                    position: relative;

                    i {
                        // flex-basis: 30%;
                        transition: .5s;
                        color: $brand-dark;
                        font-size: 1.5rem;
                        // margin-right: 1rem;
                        @media (min-width: 768px){
                            // margin-right: 2rem;
                        }
                    }
                    a {
                        color: $text-main;
                        text-decoration: none;
                        line-height: 1.5;
                        background: $brand-dark;
                        border-radius: 10px;
                        padding: .5rem 1rem;
                        margin: 0 auto;
                        width: auto;
                        // margin: 1rem auto;
                        text-transform: uppercase;
                        transition: .5s;
                        box-shadow: inset 2px 2px 2px #fffa,
                                    inset -2px -2px 2px #000a,
                                    3px 3px 3px rgba(0, 0, 0, 0.295) ;
    
                        // &:hover {
                        //     transform: scale(.9);
                        // }
                        // &:active {
                        //     transform: scale(.95);
                        // }
                    }
                }
                p {
                    color: $text-second;
                    margin: .5rem auto;
                    // width: 50%;
                    a {
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    }
    .footer-copyright {
        margin: 5vh auto 0;
        text-align: center;
        text-transform: capitalize;
        background: $brand-dark;
        padding: 5vh 0;

        p {
            color: $text-main;
            line-height: 1.6;
            a {
                color: $text-main;
                text-decoration: none;

                &:hover {
                    color: $text-second;
                }
            }
        }
    }
    @media (min-width: 768px) {
        padding: 5vh 0 0;

        // h2 {
        //     font-size: 2rem;
        //     padding: 5vh 0;
        // }
        .contact-form {
            flex-direction: row;
        
        .footer-contact {
            // padding: 10vh 5vw;
            display: flex;
            // flex-direction: row;
            // align-items: flex-end;
            // margin: 5vh 0;

            .contact-item {
                // width: 30%;
                margin: 0;
            }
        }
        .footer-copyright {
            background: $brand;
            width: 100%;
            
        }
    }
    }
    
}