#header {
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 8vh;
    background-color: $header-bg;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    font-family: $font-ubuntu;
    transition: background-color .5s;
    // SCROLL BG
    &.active-header {
        background: #000a;
        background: transparent;
        backdrop-filter: blur(.1rem);
    }
    &.main-header {
        background-color: #000;
        transition: background-color .2s;
        
    }
    &.active-aside {
        background: #000;
    }
    .logo {
        // display: none;
        // border: 1px solid #fffa;
        height: 100%;
        width: 15rem;
        position: relative;
        // DISPLAY LOGO AS FLEX TO CENTER H1 DOWN Y AXIS
        display: flex;
        flex-direction: row;
        align-items: center;
        &.sidebar-logo {
            opacity: 1;
        }
        a {
            // border: 2px solid yellow;
            overflow: hidden;
            text-decoration: none;
            h1 {
                // color: red;
                border: 1px solid transparent;
                // border: 2px solid blue;
                border-radius: 10px;
                color: $brand;
                // position: absolute;
                // top: -.5rem;
                left: 0;
                font-size: .8rem;
                text-transform: uppercase;
                transition: .5s;
                font-family: $font-ubuntu;
                background: #000a;
                letter-spacing: .05rem;
                padding: .5rem;
                border-radius: 15px;
                // transform: translateY(-1.5rem);

                span {
                    // display: inline-block;
                    color: #fff;
                    overflow: hidden;
                }
            }
        }

        &.active-logo {
            opacity: 1;
            a {
                h1 {
                    border: 1px solid rgba(255, 255, 255, 0.349);
                    // padding: .5rem .2rem;
                    // backdrop-filter: blur(.1rem);
                    // transform: scale(2) translateX(11vw) translateY(15vh);
                    transform: translateY(-10vh);
                    transition: 1s;
                    // @media (min-width: 550px) {
                    //     transform: scale(2.5) translateX(13vw) translateY(10vh);
                    // }
                    // @media (min-width: 1024px) {
                    //     transform: scale(3) translateX(13vw) translateY(10vh);
                    // }
                }
            }
        }
    }
    .navigation {
        // border: 1px solid yellow;
        position: relative;
        text-transform: uppercase;
        
    }
    // MOBILE HEADER 
    @media (max-width: 1024px) {
        height: 7vh;
        padding: 0 1rem;
        
        .navigation {
            border: none;
            nav {
                display: none;
            }
            aside {
                position: fixed;
                top: 7vh;
                right: -100vw;
                width: 100%;
                height: 100vh;
                background-color: $nav-bg;
                background-color: #000;
                // padding: 1em;
                transition: .5s;
                z-index: 1;
                overflow-y: auto;


                ul {
                    // border: 2px solid $text-brand;
                    position: relative;
                    // padding: 1rem;
                    // top: 5vh;
                    // right: 30vw;
                    width: 60vw;
                    height: auto;
                    margin: 10vh 0 5vh;

                    li {
                        border: 1px solid hsla(39, 100%, 20%, .5);
                        border-radius: 5px;
                        margin: .5rem auto 1rem;
                        width: 90%;
                        padding: .5em .8em;
                        list-style: none;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        transition: .5s;
                        cursor: pointer;
                        transform: translateX(3em);
                        opacity: 0;


                        a {
                            color: $nav-links;
                            text-decoration: none;
                            margin-right: auto;
                            width: 100%;
                            transition: .5s;
                        }

                        i {
                            color: $brand;
                            width: 20%;
                            // padding: .1em;
                            // margin-right: .5em;
                        }

                        &.dropdown {
                            // margin: 0 0 0 2rem;
                            padding: 0;
                            overflow: hidden;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            // background: #f4f4f4;
                            transition: 1s;

                            .dropdown-btn {
                                padding: .5rem 0;
                                border: none;
                                border: 1px solid hsla(39, 100%, 20%, .5);
                                width: 100%;
                                font-size: 1rem;
                                text-transform: uppercase;
                                // border-radius: 5px;
                                background: #000;
                                color: #fff;
                                display: flex;
                                float: left;
                                justify-content: space-between;
                                align-items: center;

                                .fa-caret-down {
                                    transition: .4s;
                                    margin-left: auto;
                                }

                            }
                            .dropdown-content {
                                // display: none;
                                // border: 1px solid $brand;
                                position: relative;
                                top: 0;
                                width: 100%;
                                background: $nav-bg;
                                background: #111;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border-bottom-left-radius: 5px;
                                border-bottom-right-radius: 5px;
                                padding: 0 .5rem;
                                margin: 0;
                                height: 0;
                                transition: .5s;
                                overflow: hidden;
                                // background-color: pink;


                                a {
                                    margin: 1rem 0 0;
                                    padding: .5rem 0 1rem;
                                    color: $text-main;
                                    width: 100%;
                                    border-radius: 5px;
                                    text-align: right;
                                    position: relative;

                                    i {
                                        color: $brand-dark;
                                        position: absolute;
                                        left: .5rem;
                                        width: auto;
                                    }
                                }
                            }

                            &:hover {
                                // height: 35vh;
                                .dropdown-content {
                                    height: 25vh;
                                }
                            }
                        }
                    }
                }
                .contact-links {
                    // border: 1px solid blue;
                    margin: 5vh 0;
                    padding: .5rem;
                    // width: 60vw;
                    text-transform: none;
                    overflow: hidden;
                    a {
                        display: block;
                        padding: .5rem 1rem;
                        text-decoration: none;
                        color: $brand;
                        transform: translateY(-2rem);
                        opacity: 0;
                        transition: 1s;

                        i {
                            // border: 1px solid red;
                            width: 2.5rem;
                            color: #f4f4f4;
                            font-weight: 900;
                        }
                    }
                }
                // ACTIVE SIDEBAR NAVIGATION
                &.active {
                    transition: 1s;
                    right: -20vw;
                    ul {
                        li {
                            transform: translateX(0);
                            opacity: 1;
                        }
                        :nth-child(1) {
                            transition-delay: .3s;
                        }
                        :nth-child(2) {
                            transition-delay: .4s;
                        }
                        :nth-child(3) {
                            transition-delay: .5s;
                        }
                        :nth-child(4) {
                            transition-delay: .6s;
                        }

                    }
                    .contact-links {
                        a {
                            transform: translateY(0);
                            opacity: 1;
                            &:nth-child(1){
                                transition-delay: .85s;
                            }
                            &:nth-child(2){
                                transition-delay: .95s;
                            }
                            &:nth-child(3){
                                transition-delay: 1.05s;
                            }
                            &:nth-child(4){
                                transition-delay: 1.15s;
                            }
                        }
                    }
                }
            }
            
        }
    }
    // END OF MOBILE HEADER 
    
    // DESKTOP HEADER
    @media (min-width: 1024px) {
        height: 10vh;
        // display: none;
        padding: .5em 5vw;
        // overflow: hidden;


        .navigation {
            // border: 1px solid yellow;
            display: grid;
            place-items: center;
            padding: .5em;
            
            #toggle {
                display: none;
            }

            aside {
                display: none;
            }

            // NAV STYLE
            nav {
                display: block;

                ul {
                    display: flex;
                    align-items: center;

                    li {
                        padding-left: 1em;
                        list-style: none;

                        a {
                            color: #fff;
                            text-decoration: none;
                            transition: .3s;
                            padding: .5rem;
                            border-radius: 5px;
                            position: relative;
                            // LINK HOVER UNDERLINE
                            &::after {
                                position: absolute;
                                content: '';
                                bottom: 0;
                                left: 50%;
                                width: 0;
                                height: .1rem;
                                background: #f4f4f4;
                                background: $brand;
                                border-radius: 5px;
                                transform: translateX(-50%);
                                transition: .5s;
                            }


                            &:hover {
                                color: #fffa;
                                color: $brand;
                                &::after {
                                    width: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    // DESKTOP HEADER
    
}