#hero {
    @media (max-width: 768px){
        background-size: cover;
    }
    height: 100vh;
    width: 100%;
    // border: 2px solid blue;
    background-image: url(../img/work-min.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center top;
    position: relative;
    isolation: isolate;

    figure {
        width: 15rem;
        // width: 65%;
        float: right;
        border-bottom-left-radius: 50%;
        overflow: hidden;
        @media (min-width: 768px){
            width: 25rem;
        }
        // margin: 0 auto;
        // position: sticky;
        // top: 0;
        img {
            width: 100%;
        }
    }

    // OVERLAY
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $brand-overlay;
        background-image: $brand-overlay-dark;
        opacity: .8;
        z-index: -1;
    }

    .hero-title {
        position: absolute;
        left: 50%;
        top: 60vh;
        width: 20rem;
        transform: translate(-50%, -50%);
        overflow: hidden;
        // border: 1px solid #fffa;
        @media (min-width: 768px) {
            width: 70%;
        }
        h1 {
            display: none;
            color: $brand;
            text-align: center;
            font-size: 1.5rem;
            @media (min-width: 1024px) {
                font-size: 2.5rem;
            }
            width: auto;
            text-transform: uppercase;
            span {
                color: #fff;
            }
        }
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            padding: .5rem 0;
            // border: 1px solid blue;
            li {
                color: #fff;
                opacity: .4;
                font-size: 1.15rem;
                transition: 1s;
                cursor: pointer;
                // &:nth-child(odd){
                //     color:$brand;
                // }
                @media (min-width: 1024px) {
                    font-size: 1.9rem;
                }

                &:hover {
                    transition: .3s;
                    opacity: 1;
                    color: $brand;
                }
            }
        }

        &.active-hero-title {
            ul {
                li {
                    opacity: 1;
                    &:hover {
                        color: $brand;
                    }
                    &:nth-child(odd){
                        color: $brand;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .cta {
        text-align: center;
        position: absolute;
        bottom: 25vh;
        left: 50%;
        width: 20rem;
        transform: translateX(-50%);
        @media (min-width: 768px) {
            margin: 0;
        }
        a {
            font-size: 1rem;
            color: #fff;
            border: none;
            padding: .5rem 0;
            margin: 1rem 0;
            width: 100%;
            display: block;
            position: relative;
            text-decoration: none;
            text-transform: capitalize;
            border-radius: 10px;
            background: $brand;
            isolation: isolate;
            letter-spacing: .1rem;
            transition: .3s;
            @media (min-width: 1024px){
                font-size: 1.5rem;
            }
            &::after, &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: .2s;
                border-radius: 10px;
                z-index: -1;
            }
            &::before {
                background: $cta-btn;
                box-shadow: $btn-shadow;
            }
            &::after {
                opacity: 0;
                background: $cta-btn-hover;
                box-shadow: $btn-shadow-hover;
            }
            
            // DESKTOP CTA = HOVER TRANSITION AND MOBILE = ACTIVE TRANSITION
            // MOBILE = ACTIVE CLASS
            @media (max-width: 1024px){
                &:active {
                    transition: .2s;
                transform: scale(.98);
                letter-spacing: normal;
                &::before {opacity: 0;}
                &::after {opacity: 1;}
                }
            }
            // DESKTOP = HOVER CLASS
            @media (min-width: 1024px){
                &:hover {
                    transition: .2s;
                    transform: scale(.98);
                    letter-spacing: normal;

                    &::before {
                        opacity: 0;
                    }

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        p {
            color: #ddd;
            margin: 1rem 0;
            text-transform: capitalize;
            text-align: center;
        }
    }
}