#services {
    background-color: #fff;

    .section-description {
        padding: 5vh 1rem;
        font-family: $font-open-sans;
    }
    .service-container {
        // border: 1px solid red;

        .service-item {
            margin: 10vh 0;
            padding: 0 1rem;
            position: relative;
            isolation: isolate;
            h3 {
                position: sticky;
                top: 7vh;
                font-size: 1.5rem;
                padding: .5rem 0;
                color: $brand;
                transition: 1s;
                background: #fff;
                z-index:2;

                &[data-scroll] {
                    transform: scale(1);
                    letter-spacing: .25em;
                }
                &[data-scroll="in"] {
                    letter-spacing: .05em;
                }
            }
            .service-core {
                margin: 5vh 0;
                

                p {
                    font-size: 1.1rem;
                    margin: .5rem 0;
                }
                i {
                    font-size: 2rem;
                    margin: 0 0 1rem;
                    z-index: 1;
                    // WRENCH ANIMATION
                    &.fa-wrench {
                        animation: icon 2s infinite;
                        @keyframes icon {
                            50% {
                                transform: rotate(20deg);
                                color: #000a;
                            }
                        }
                    }

                    &.fa-paint-roller, &.fa-plug {
                        animation: upDown 2s infinite;
                        color: #000;
                        @keyframes upDown {
                            50% {
                                transform: translateY(1rem);
                                color: #000a;
                            }
                        }
                    }
                }
            }
            .service-type {
                // border: 1px solid black;
                background-color: #f4f4f4;
                ul {
                    margin-left: .5rem;
                    @media (min-width: 768px) {
                        width: 50%;
                    }
                    li {
                        padding: 1rem .1rem;
                        text-transform: capitalize;
                        list-style-type: square;
                        font-size: 1rem;
                        transition: .2s;
                        border: 1px solid #fff;
                        cursor: pointer;

                        &:hover {
                            background-color: $brand;
                            color: $text-main;
                            &::marker {
                                color: $brand;
                                transition: .2s;
                            }
                        }
                        &[data-scroll="in"] {
                            transition: 1s;
                            &:hover {
                                transition: .2s;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .section-description {
            padding: 5vh 5vw;
            font-size: 1.2rem;
        }
        .service-container {
    
            .service-item {
                padding: 0 5vw;

                .service-core {
                }
            }
        }
    }
}