#toggle {
    font-size: 20px;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid $toggle;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .3s;
    padding: .2em 0;
    overflow: hidden;
    z-index: 10;
    // transform: rotate(90deg);

    .bar {
        background-color: $toggle-bar;
        width: 60%;
        height: .08em;
        position: relative;
        transition: .3s;

        &.bar-1 {
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $toggle-bar;
            transition: .3s;
        }
    }
        &::before {
            transform: translateY(.25em) ;
        }
    }

    &.active {
        transform: rotate(90deg);
        border: 2px solid $active-toggle;
        background-color: $active-toggle;
        .bar {
            background-color: $text-second;
        }
        .bar-1 {
            &::before {
                opacity: 1;
                transform: translateY(.20em) skewY(-30deg);
                background-color: $text-second;
                
            }
        }

    }
}

#top-btn {
    position: fixed;
    bottom: 0vh;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    background: #fffa;
    outline: none;
    border: 2px solid $brand;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: .2rem;
    z-index: 2;
    transition: 1s;
    opacity: 1;
    cursor: pointer;
    transform: translateY(10vh);
    
    a {
        border: 1px solid blue;
        border: none;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        text-decoration: none;
    }
    @media (min-width: 768px) {
        right: 0;
        bottom: 0;
        height: 2.5rem;
        width: 2.5rem;

        i {
            font-size: 1.5rem;
        }
    }

    i {
        color: #000;
        transition: .3s;
        margin: 0 auto;
        transition: .2s;
    }
    
    

    // ACTIVE HOME BUTTOM
    &.active-top-btn {
        opacity: 1;
        transform: translateY(0);
        @media (min-width: 768px){
            &:hover {
                transition: .2s;
                transform: scale(.96);
            }
        }
        @media (max-width: 768px){
            &:active {
                transition: .2s;
                transform: scale(.96);
            }
        }
    }

    
}

// LOADER
.loader_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 100;

    .spinner {
        // border: .25rem solid red;
        height: 10rem;
        width: 10rem;
        position: relative;
        display: grid;
        place-items: center;
        isolation: isolate;
        color: #f4f4f4;
        text-transform: capitalize;

        .sector {
            position: absolute;
            width: 100%;
            height: 100%;
            // background-color: #333;
            border-radius: 50%;
            border: .5rem solid transparent;
            animation: rotate 2s infinite;
            mix-blend-mode: overlay;

            &.sector-1 {
                border-top-color: #f4f4f4f4;
                // animation-delay: .5s;
                animation-timing-function: ease-out;
                &::after {
                    position: absolute;
                    content: '';
                    top: 1rem;
                    left: .5rem;
                    border: 2px solid #fff;
                    background: #000;
                    border-radius: 50%;
                    height: .5rem;
                    width: .5rem;
                    z-index: 10;
                }
                &::before {
                    position: absolute;
                    content: '';
                    top: 1rem;
                    right: .5rem;
                    border: 2px solid #fff;
                    background: #000;
                    border-radius: 50%;
                    height: .5rem;
                    width: .5rem;
                    z-index: 10;
                }
            }

            &.sector-2 {
                border-left-color: $brand;
                animation-delay: .5;
                animation-timing-function: ease-in-out;
                &::after {
                    position: absolute;
                    content: '';
                    top: 1rem;
                    left: .5rem;
                    border: 2px solid $brand;
                    background: #000;
                    border-radius: 50%;
                    height: .5rem;
                    width: .5rem;
                    z-index: 10;
                }
                &:before {
                    position: absolute;
                    content: '';
                    bottom: .9rem;
                    left: .6rem;
                    border: 2px solid $brand;
                    background: #000;
                    border-radius: 50%;
                    height: .5rem;
                    width: .5rem;
                    z-index: 10;
                }
            }

            // &.sector-3 {
            //     border-left-color: orange;
            //     animation-duration: 2.5s;
            //     animation-timing-function: ease-out;
            // }

            @keyframes rotate {
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

}
