#toggle {
    font-size: 20px;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    border: 2px solid $toggle;
    cursor: pointer;
    display: grid;
    place-items: center;
    transition: .3s;
    padding: .2em 0;
    overflow: hidden;
    z-index: 10;
    // transform: rotate(90deg);

    .bar {
        background-color: $toggle-bar;
        width: 60%;
        height: .08em;
        position: relative;
        transition: .3s;

        &.bar-1 {
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $toggle-bar;
            transition: .3s;
        }
    }
        &::before {
            transform: translateY(.25em) ;
        }
    }

    &.active {
        transform: rotate(90deg);
        border: 2px solid $active-toggle;
        background-color: $active-toggle;
        .bar {
            background-color: $text-second;
        }
        .bar-1 {
            &::before {
                opacity: 1;
                transform: translateY(.20em) skewY(-30deg);
                background-color: $text-second;
                
            }
        }

    }
}

#top-btn {
    position: fixed;
    bottom: 0vh;
    right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    background: #fffa;
    outline: none;
    border: 2px solid $brand;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: .2rem;
    z-index: 2;
    transition: 1s;
    opacity: 1;
    cursor: pointer;
    transform: translateY(10vh);
    
    a {
        border: 1px solid blue;
        border: none;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        text-decoration: none;
    }
    @media (min-width: 768px) {
        right: 0;
        bottom: 0;
        height: 2.5rem;
        width: 2.5rem;

        i {
            font-size: 1.5rem;
        }
    }

    i {
        color: #000;
        transition: .3s;
        margin: 0 auto;
        transition: .2s;
    }
    
    

    // ACTIVE HOME BUTTOM
    &.active-top-btn {
        opacity: 1;
        transform: translateY(0);
        @media (min-width: 768px){
            &:hover {
                transition: .2s;
                transform: scale(.96);
            }
        }
        @media (max-width: 768px){
            &:active {
                transition: .2s;
                transform: scale(.96);
            }
        }
    }

    
}

.loader_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 99;
    display: grid;
    place-items: center;

    .loader {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        border: .5rem solid #fff;
        border-left: .5rem solid $brand;
        border-right: .5rem solid $brand;
        border-radius: 50%;
        animation: loader .25s linear infinite;

        @keyframes loader {
            100% {
                transform: rotate(180deg);
            }
        }
    }
}