@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap');

$font-ubuntu: 'Ubuntu', sans-serif;
$font-content: 'Lato', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$primary-color: #000;
$secondary-color: orange;
$brand: #ffa500;
$brand-trans: hsla(39, 100%, 50%, .4);
$brand-dark: #ff7b00;

$brand-overlay: linear-gradient(40deg, orange, #000);
$brand-overlay-dark: linear-gradient(30deg, #000, #000a);

$bg-main: #ffff;
$bg-second: #000;
$text-main: #f4f4f4;
$text-second: #000;
$text-main-hover: #fffa;
$text-second-hover: #000a;
$text-brand: #ffa500;

$header-bg: #000;
$toggle: $brand;
$active-toggle: orange;
$toggle-bar: #f4f4f4;

$cta-btn: linear-gradient(0deg, hsl(29, 100%, 35%), hsl(39, 100%, 50%));
$cta-btn-hover: linear-gradient(0deg, hsl(39, 100%, 50%), hsl(29, 100%, 35%));

$nav-bg: #161616;
$nav-links: #eee;

$border-main: orange;
$border-second: #0000;

$brand-btn: linear-gradient(0deg, $brand-dark, $brand);
$brand-btn-hover: $brand;



$btn-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.250),
            inset -2px -2px 2px rgba(0, 0, 0, 0.300),
                4px 4px 2px rgba(0, 0, 0, .100);

$btn-shadow-hover: inset 2px 2px 2px rgba(0, 0, 0, .300),
                inset -2px -2px 2px rgba(255, 255, 255, 0.200),
                    2px 2px 3px rgba(0, 0, 0, .350);