$font-ubuntu: 'Ubuntu', sans-serif;

$primary-color: #000;
$secondary-color: orange;
$brand: #ffa500;
$brand-dark: #ff7b00;

$brand-overlay: linear-gradient(40deg, orange, #000);
$brand-overlay-dark: linear-gradient(30deg, #000, #000a);

$bg-main: #ffff;
$bg-second: #000;
$text-main: #f4f4f4;
$text-second: #000;
$text-main-hover: #fffa;
$text-second-hover: #000a;
$text-brand: #ffa500;

$header-bg: #000;
$toggle: orange;
$toggle-bar: #f4f4f4;

$cta-btn: linear-gradient(0deg, hsl(29, 100%, 35%), hsl(39, 100%, 50%));
$cta-btn-hover: linear-gradient(0deg, hsl(39, 100%, 50%), hsl(29, 100%, 35%));

$nav-bg: #161616;
$nav-links: #eee;

$border-main: orange;
$border-second: #0000;

$brand-btn: linear-gradient(0deg, $brand-dark, $brand);
$brand-btn-hover: $brand;

$font-ubuntu: 'Ubuntu', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$btn-shadow: inset 2px 2px 2px #fffa,
            inset -2px -2px 2px #000a,
                4px 4px 3px rgba(0, 0, 0, .250);

$btn-shadow-hover: inset 2px 2px 2px #000a,
                inset -2px -2px 2px #fffa,
                    2px 2px 3px rgba(0, 0, 0, .350);