$font-ubuntu: 'Ubuntu', sans-serif;

$primary-color: #000;
$secondary-color: orange;
$brand: orange;
$brand-dark: #ff7b00;

$brand-overlay: linear-gradient(40deg, orange, #000);

$bg-main: #f4f4f4;
$bg-second: #000;
$text-main: #f4f4f4;
$text-second: #000;
$text-main-hover: #fffa;
$text-second-hover: #000a;
$text-brand: #ffa500;

$header-bg: #000;
$toggle: orange;
$toggle-bar: #f4f4f4;

$nav-bg: #161616;
$nav-links: #eee;

$border-main: orange;
$border-second: #0000;