
@import 'variables';
@import '_utilities';
@import '_header';
@import '_hero';
@import '_about';
@import '_services';
@import '_sectionPads';
@import '_projects';
@import '_form';
@import '_footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: sans-serif;
    font-family: $font-content;
    font-family: $font-open-sans;
    scroll-behavior: smooth;
    // scroll-padding-top: 8vh;
    @media (max-width:768px) {
        // scroll-padding-top: 7vh;
    }
}
body {
    overflow-x: hidden;
}
#container {
    max-width: 100vw;
    font-family: $font-ubuntu;
    #main {
        width: 100%;
        @media (min-width: 768px) {
            // margin-top: 5vh;
            padding: 0;
        }

        // margin-top: 5vh;
        padding: 0;
        min-height: 100vh;
        background-color: $bg-main;

        // ACTIVE NAV BODY OVERLAY
        &::after {
            position: fixed;
            content: '';
            top: 5vh;
            left: 0;
            width: 100%;
            min-height: 100vh;
            background: $brand-overlay;
            opacity: 0;
            z-index: -1;
            transition: .2s;
        }

        &.active {
            &::after {
                z-index: 1;

                opacity: .8;
            }
        }

        // END OF ACTIVE NAV BODY OVERLAY

        

        section {
            min-height: 100vh;
            padding: 10vh 0 0;
            @media (min-width: 820px){
                padding-top: 15vh;
            }

            
        }
    }

    .section-title {
        text-align: center;
        text-transform: uppercase;
        text-transform: capitalize;
        font-size: 1.35rem;
        margin-bottom: 10vh;
        h2 {
        font-weight: 700;
            position: relative;
            // TITLE UNDERLINE
        &::after {
            position: absolute;
            content: '';
            bottom: -.5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: .1em;
            background: $brand;
            background: linear-gradient(90deg, $brand-dark, $brand);
            border-radius: 5px;
            opacity: 0;
            transition: 1s ;
            
        }
        &[data-scroll]{
            transform: scale(1) translateY(-10vh);
            opacity: 0;
        }
        &[data-scroll="in"]{
            transform: scale(1) translateY(0);
            opacity: 1;
            &::after {
                opacity: 1;
                width: 20%;
                transition-delay: .5s;
                @media (min-width: 768px) {
                    width: 5%;
                }
            }
        }
        }
    }

    
}

// SCROLL OUT
[data-scroll] {
    transition: 1.5s ease;
    transform: scale(1) translateY(0vh);
    opacity: 0;
}

[data-scroll="in"] {
    opacity: 1;
    transform: scale(1) translateY(0);
}

[data-scroll="out"] {
    opacity: 0;
}
// END OF SCROLL OUT